* {margin: 0; padding: 0; border: 0 none;}

body {
    background-color: gray;
}

.hidden {
    display: none;
}

.timer-box {
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid #9fb8ad;
    margin: 0;
    padding: 0;
}

.timer-content {
    color: whitesmoke;
    font-size: 1rem;
}

.nav-bar {
    display: block;
    justify-content: center;
    max-height: 100px;
    min-width: 300px;
    min-height: auto;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    opacity: 0.7;
    transition: all .5s ease-in-out;
}

.nav-bar:hover {
    opacity: 1;
    transform: scale(1.1);
}

.nav-bar ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);

}
/* testing class */
.slider- {
    background: url('DSC_6382.JPG') no-repeat center center;
    height: 100vh;
}
/*------------*/
.intro {
    margin: 0;
    padding: 0;
    color: antiquewhite;
    background-color: antiquewhite;
    background: url('DSC_6382.JPG') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
     -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
@media only screen and (max-width: 768px){
  .intro { 
    background-size: cover;
    background-position: 75% center;
    z-index: -10;
  }
}
/*typer text*/
body {
    font-family: 'Dancing Script', cursive;
}
.typewriter {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
}

.bottom-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.typewriter #typer-text {
    color: white;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

.map-wrapper {
    text-align: center;
}

.mapouter {
    width: 90vw;
    height: 60vh;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}
.gmap_canvas {
    border-radius: 20px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
     -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
         filter: grayscale(100%);
}